
// 부트스트랩 커스터마이징 scss 파일 

$body-bg: yellow;
$body-color: red;

// 커스터마이징 하려면 주석을 해제 
//@import "~bootstrap/scss/bootstrap";

// Default variable overrides


.my-class2 {
  color: $body-color;
}